
    <!-- Item -->
    <div class="w-1/2 md:w-1/2 lg:w-1/4 px-2 my-2">
        <div class="shadow overflow-hidden sm:rounded-lg">
              <%= image_tag "pdf.png", class: "img-thumbnail mr-3 w-full" %>
              <div class="truncate p-2 border border-gray-200">
              <%= link_to document.document.original_filename %>
        	  </div>
          <div class="flex p-3 border justify-end border-gray-200">
            <div class="flex flex-col">
                <div class="flex flex-col">
                    <label class="inline-flex items-center">
                        <span class="mr-3 text-gray-700">Remove Document</span>
                        <%= f.check_box :_destroy, class: "form-checkbox h-5 w-5 text-gray-600" %>
                    </label>
                </div>
            </div>
        </div>
        
        
        </div>
    </div>
