<div class="container flex flex-wrap my-8 mx-auto lg:px-4">
   <div class="w-full p-4">
	   <div class="flex justify-between items-center mb-4">
	      <h1 class="h3">Edit Listing</h1>
	      <%= link_to 'Next', listing_build_path(@listing, :add_properties) %>
	    </div>
	</div>
   <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "listings/sidebar" %>
  </div>
   <div class="lg:w-3/4 w-full p-4">
    <div class="bg-white rounded shadow p-8">
      <%= render 'form', listing: @listing %>      
    </div>
  </div>
</div> 