<div class="flex flex-wrap my-4 lg:px-4 container mx-auto">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "listings/form_sidebar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
      <%= render 'form', listing: @listing %>
  </div>
</div>

