<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  	<div class="flex justify-center items-center align-center mb-4"> 
      <h3 class="h3">Let’s start with the basics</h3> 
    </div>
      <%= render 'form', listing: @listing %>
</div>
