<div class="container mx-auto my-8 px-4">
  <div class="max-w-4xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">New NDA Siging</h1>
      
    </div>

    <div class="bg-white rounded shadow p-8">
      <%= render 'form', nda_signing: @nda_signing %>
    </div>
  </div>
</div>