<div class="bg-white border border-gray-300 rounded">
  <%= nav_link_to "Signed Agreements", nda_signings_path, class: "block no-underline p-3 px-6 rounded-t", active_class: "bg-primary-500 text-white hover:text-white", inactive_class: "text-gray-700 hover:text-gray-700 hover:bg-gray-100" %>
  <%= nav_link_to "Agreement Templates", account_ndas_path(current_account), class: "block no-underline p-3 px-6", active_class: "bg-primary-500 text-white hover:text-white", inactive_class: "text-gray-700 hover:text-gray-700 hover:bg-gray-100" %>
</div>