<!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap bg-gray-100  border-r border-gray-300 py-10 px-6 flex-none w-56 m-md:-ml-64 m-md:fixed m-md:top-0 m-md:z-30 m-md:h-screen m-md:shadow-xl animated faster">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden m-md:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->


        <%= link_to listings_path, class: 'font-hairline mx-2 p-2 flex items-center block text-gray-800 hover:bg-gray-200 hover:bg-opacity-25 hover:text-indego-900' do %>
          <i class="far fa-building text-xl text-gray-600 mr-2"></i>
          Listings
        <% end %>
        
      <!-- link -->
      <a href="./index.html" class="font-hairline mx-2 p-2 flex items-center block text-gray-800 hover:bg-gray-200 hover:bg-opacity-25 hover:text-indego-900">
        <i class="fas fa-columns text-xl text-gray-600 mr-2"></i>                
        Analytics
      </a>
      <!-- end link -->

      <!-- link -->

      <%= link_to contacts_path, class: 'font-hairline mx-2 p-2 flex items-center block text-gray-800 hover:bg-gray-200 hover:bg-opacity-25 hover:text-indego-900' do %>
        <i class="fas fa-columns text-xl text-gray-600 mr-2"></i>                
        Contacts
      <% end %>
      <!-- end link -->

      <!-- link -->
      <%= link_to account_ndas_path(current_account), class: 'font-hairline mx-2 p-2 flex items-center block text-gray-800 hover:bg-gray-200 hover:bg-opacity-25 hover:text-indego-900' do %>
          <i class="fas fa-columns text-xl text-gray-600 mr-2"></i>
          Agreements
        <% end %>
      <!-- end link -->


      <p class="uppercase  text-gray-600 mb-4 mt-4 tracking-wider mx-2 p-2 ">apps</p>

      
      <!-- link -->
      <a href="#" class="mx-2 p-2 flex items-center block text-gray-800 hover:bg-gray-200 hover:bg-opacity-25 hover:text-indego-900">
        <i class="fad fa-comments  mr-2"></i>
        Chat
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="#" class="mx-2 p-2 flex items-center block text-gray-800 hover:bg-gray-200 hover:bg-opacity-25 hover:text-indego-900">
        <i class="fad fa-calendar-edit  mr-2"></i>
        Calendar
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="#" class="mx-2 p-2 flex items-center block text-gray-800 hover:bg-gray-200 hover:bg-opacity-25 hover:text-indego-900">
        <i class="fad fa-folder-open  mr-2"></i>
        File Manager
      </a>
      <!-- end link -->       

    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->