<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<% if @user %>
<div class="mb-6">
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <div class="flex items-center">
          <div class="flex-shrink-0 bg-indigo-500 rounded-md p-3">
            <!-- Heroicon name: users -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          </div>
          <div class="ml-5 w-0 flex-1">
            <dl>
              <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
                Listing Views
              </dt>
              <dd class="flex items-baseline">
                <div class="text-2xl leading-8 font-semibold text-gray-900">
                  <%= @user.events.where_event("Viewed listing").count %>
                </div>
                <div class="ml-2 flex items-baseline text-sm leading-5 font-semibold text-green-600">
                  
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      
    </div>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <div class="flex items-center">
          <div class="flex-shrink-0 bg-indigo-500 rounded-md p-3">
            <!-- Heroicon name: users -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          </div>
          <div class="ml-5 w-0 flex-1">
            <dl>
              <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
                Listing Joined
              </dt>
              <dd class="flex items-baseline">
                <div class="text-2xl leading-8 font-semibold text-gray-900">
                  <%= @user.events.where_event("Joined Listing").count %>
                </div>
                <div class="ml-2 flex items-baseline text-sm leading-5 font-semibold text-green-600">
                  
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      
    </div>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <div class="flex items-center">
          <div class="flex-shrink-0 bg-indigo-500 rounded-md p-3">
            <!-- Heroicon name: mail-open -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
          </div>
          <div class="ml-5 w-0 flex-1">
            <dl>
              <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
                Document Downloads
              </dt>
              <dd class="flex items-baseline">
                <div class="text-2xl leading-8 font-semibold text-gray-900">
                   <%= @user.events.where_event("Downloaded public document").count + @user.events.where_event("Downloaded secure document").count %>
                </div>
                <div class="ml-2 flex items-baseline text-sm leading-5 font-semibold text-green-600">
                  
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      
    </div>
  
  </div>
</div>
<% end %>