<header class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
      
      <div class="flex items-baseline justify-between">
            <div class="space-x-4">
                <a href="#" class="px-3 py-2 text-sm font-medium text-gray-700 border-b-2 border-white hover:border-indigo-700 focus:outline-none focus:text-white focus:bg-gray-600">All Properties</a>
                <a href="#" class="px-3 py-2 border-b-2 border-white hover:border-indigo-700 text-sm font-medium text-gray-700 focus:outline-none focus:text-white focus:bg-gray-600">Active</a>
                <a href="#" class="px-3 py-2 border-b-2 border-white hover:border-indigo-700 text-sm font-medium text-gray-700 focus:outline-none focus:text-white focus:bg-gray-600">Draft</a>
                <a href="#" class="px-3 py-2 border-b-2 border-white hover:border-indigo-700 text-sm font-medium text-gray-700 focus:outline-none focus:text-white focus:bg-gray-600">Closed</a>
            </div>
            <span class="shadow-sm rounded-md">
              <%= link_to 'New Property', new_property_path, class: "btn btn-primary" %>
            </span>
        </div>
        
    </div>
  </header>